@font-face{
    font-family: 'DINPro';
    src: url('../fonts/DINPro-CondensedRegular.eot');
    src: local('0'), url('../fonts/DINPro-CondensedRegular.woff') format('woff'), url('../fonts/DINPro-CondensedRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'DINPro';
    src: url('../fonts/DINPro-CondensedMedium.eot');
    src: local('0'), url('../fonts/DINPro-CondensedMedium.woff') format('woff'), url('../fonts/DINPro-CondensedMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}